fastapi
uvicorn
yt-dlp
yt-dlp-get-pot
bgutil-ytdlp-pot-provider
pydantic
pydantic-settings
python-multipart
mediapipe
opencv-python-headless
ffmpeg-python
numpy
openai-whisper
ultralytics
google-auth
google-auth-oauthlib
google-api-python-client
static-ffmpeg
scenedetect
edge-tts
